[submodule "pkgs/dmenuhist/dmenuhistory"]
	path = pkgs/dmenuhist/dmenuhistory
	url = git@github.com:afreakk/dmenuhistory.git
[submodule "pkgs/dmenu/dmenu"]
	path = pkgs/dmenu/dmenu
	url = git@gitlab.com:afreakk/dmenu.git
