[submodule "pkgs/dmenuhist/dmenuhistory"]
	path = mynixrepo/pkgs/dmenuhist/dmenuhistory
	url = git@github.com:afreakk/dmenuhistory.git
[submodule "mynixrepo/pkgs/dmenu/dmenu"]
	path = mynixrepo/pkgs/dmenu/dmenu
	url = git@gitlab.com:afreakk/dmenu.git
