[submodule "pkgs/dmenuhist/dmenuhistory"]
	path = pkgs/dmenuhist/dmenuhistory
	url = git@github.com:afreakk/dmenuhistory.git
[submodule "pkgs/dmenu/dmenu"]
	path = pkgs/dmenu/dmenu
	url = git@gitlab.com:afreakk/dmenu.git
[submodule "pkgs/nix-doc"]
	path = pkgs/nix-doc
	url = git@github.com:lf-/nix-doc.git
